body {
    margin: 0;
    padding: 0;
    text-align: center;
    touch-action: none;
    user-select: none;
    background-color: #45283c;
    color:white;
    font-size:12px;
}

#canvas {
    display: inline-block;
    margin-top: 5px;
}
