body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #45283c;
    touch-action: none;
    user-select: none;
    cursor: url('ui/cursor2.png'), auto;
    image-rendering: optimizeSpeed;
    /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;
    /* Firefox                        */
    image-rendering: -o-crisp-edges;
    /* Opera                          */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and eventually Safari) */
    image-rendering: pixelated;
    /* Chrome */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
}

#menu {
    margin:0;
    padding:0;
    border:0;
    position:relative;
    display: inline-block;
    background-image: url(start-screen2.gif);
    background-size:contain;
    z-index: 200;
}
#buttons {
    display: inline-block;
    font-family: 'VT323', monospace;
    font-size: 40px;
    position: absolute;
    text-align: left;
    margin-top: 25%;
    margin-left: 8%;
    color: white;
}

.button {
    border: 3px solid transparent;
    padding: 3px;
}

.button:hover {
    border: 3px solid white;
}

#canvas {
    margin:0;
    padding:0;
    border:0;
    z-index: 100;
    visibility:hidden;
}
#pause-screen{
    position:absolute;
    width:100%;
    height:100%;
    background-color: black;
    opacity:0.6;
    z-index:200;
    display:none;
}
#options{
    margin-top:10%;
}
.icons{
    width:15%;
    margin-right:2%
}
.icons:hover,#ctrlButton:hover {
    border: 3px solid white;
}
#pause-icon{
    width:20%;
    margin-top:5%;
}
.tutorials{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.8;
    z-index:200;
}
#controls{
    visibility:hidden;
}
#bouncy{
    visibility:hidden;
    opacity:0.95;
}
#crystals{
    visibility:hidden;
    opacity:0.95;
}
#speeders{
    visibility:hidden;
    opacity:0.95;
}
#spikes{
    visibility:hidden;
    opacity:0.95;
}
#ctrlButton{
    margin-top:5%;
    font-family: 'VT323', monospace;
    font-size: 50px;
    color:white;
}