body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: black;
    touch-action: none;
    user-select: none;
    cursor: url('ui/cursor2.png'), auto;
    image-rendering: optimizeSpeed;
    /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;
    /* Firefox                        */
    image-rendering: -o-crisp-edges;
    /* Opera                          */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and eventually Safari) */
    image-rendering: pixelated;
    /* Chrome */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
}

a {
    color: inherit;
    text-decoration: none;
}

#menu {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(start-screen2.gif);
    background-size: contain;
    z-index: 200;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#buttons {
    display: inline-block;
    font-family: 'VT323', monospace;
    font-size: 16px;
    position: absolute;
    text-align: left;
    margin-top: 25%;
    margin-left: 1%;
    color: white;
}

#ghost {
    opacity: 0.5;
}

#version {
    display: inline-block;
    font-family: 'VT323', monospace;
    font-size: 20px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white
}

.button {
    border: 3px solid transparent;
    padding: 3px;
}

.button:hover {
    border: 3px solid white;
}

#canvas {
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 100;
    visibility: hidden;
}

#pause-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 200;
    display: none;
}

#options {
    margin-top: 10%;
}

.icons {
    width: 15%;
    margin-right: 2%
}

.icons:hover,
#ctrlButton:hover {
    border: 3px solid white;
}

#pause-icon {
    width: 20%;
    margin-top: 5%;
}

.tutorials {
    position: absolute;
    height: 100%;
    z-index: 200;
    visibility: hidden;
    opacity: 0.95;
    left:50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    transform: translate(-50%);
    
}

#twitter {
    display: inline-block;
    font-family: 'VT323', monospace;
    font-size: 20px;
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: white;
    opacity: 0.5;
}

#twitter:hover {
    opacity: 1;
}

#ctrlButton {
    margin-top: 5%;
    font-family: 'VT323', monospace;
    font-size: 50px;
    color: white;
}


/*
    MOBILE UI
*/
#arrowCont {
    display:none;
    position: absolute;
    width: 100%;
    height: 21vh;
    bottom: 10vh;
    z-index:1200;
}
#spacebarCont{
    display:none;
    position:absolute;
    bottom:0;
    height:9vh;
    width:100%;
    z-index:1000;
    text-align: center;
}
#othersCont{
    display:none;
    position:absolute;
    margin-left: 5%;
    margin-top: 2.5%;
    width:21vh;
    height:100%;
    z-index:1000;
}

.arrows {
    height: 100%;
    background-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    opacity: 0.4;
}
#spacebar{
    display:inline-block;
    height:100%;
}

#left {
    float: left;
    margin-left: 5%;
}
#right {
    float: left;
    margin-left: 5%;
}

#up {
    float: right;
    margin-right: 5%;
}

#atk {
    float: right;
    margin-right: 5%;
}

#lookDownBtn {
    width:100%;
    height:auto;
    margin-top: 5%;
}
#lookFurtherBtn {
    width:100%;
    height:auto;
}